body {
  margin: 2px;
  font: 12px Arial, Helvetica, sans-serif;
}

.App {
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 2px;
}

.header {
  background-color: rgb(171, 194, 238);
}

.timetable-header {
  text-align: center;
  padding: 5px;
  font-weight: bold;
  color: #5b74a4;
  font-size: 16px;
}


/* Forms */

.form_box {
  background: #eef4ff;
  padding: 5px;
  margin: 5px 0px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.form_title {
  padding: 6px 10px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
  color: #5b74a4;
  font-size: 12px;
  font-weight: bold;
}

.form-table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
}

.label-cell {
  text-align: center;
  vertical-align: middle;
  padding-right: 10px;
}

.label {
  display: inline-block;
  margin-bottom: 0;
  font-weight: bold;
}

.select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.button {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #0056b3;
}

td {
  padding: 10px;
}


/* instructions */

.notebox {
  padding: 0px;
  border-top: 1px solid #e4ecf9;
  border-left: 1px solid #e4ecf9;
  border-right: 3px solid #e4ecf9;
  border-bottom: 3px solid #e4ecf9;
  background: #f4f7fc;
}

.notebook-header {
  color: #264886 !important;
  font-size: 14px !important;
  font-weight: bold;
  padding: 5px !important;
  margin: 0px !important;
  border: 0px !important;
  background: #e4ecf9 !important;
}